.text-platzi{
    color: #97c93e !important;
}
.btn-platzi{
    background-color: #97c93e;
    color: white;
}

.btn-platzi:hover{
    background-color:#70962b;
    color: white;
}
nav img{
    width: 80px;
}

.principal img{
   max-height: 70vh;
   object-fit: cover;
   filter: grayscale(50%)
}

.carousel{
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    align-items: center;
    height: 100%
}

.carousel .overlay .container,
.carousel .overlay .row{
    height: 100%;
}

.principal button{
    border-radius: 5px;
}

.card{
    height: 500px;
}
 .card img{
     object-fit: cover;
 }
footer{
    background-color: #1c3643;
}

footer a{
    color: rgb(255 255 255);
    text-decoration: none;
}
#lugar-fecha img{
    width: 100%;
}

#lugar-fecha{
    background-color: #343a40;
    color: white;
}